<xml>
<ToUserName><%= @message[:to_user] %></ToUserName>
<FromUserName><%= Settings["wechat_id"] %></FromUserName>
<CreateTime><%= Time.now.to_i %></CreateTime>
<MsgType>news</MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
<item>
<Title><![CDATA[北京站车场简介]]></Title> 
<Description><![CDATA[这里是【北京站】 - 北京田宫迷你四驱车俱乐部，欢迎北京的车友加入我们！]]></Description>
<PicUrl><![CDATA[http://1.bjmini4wd.sinaapp.com/img/info.jpg]]></PicUrl>
<Url><![CDATA[http://bjmini4wd.sinaapp.com/info.html]]></Url>
</item>
</Articles>
</xml>