<xml>
<ToUserName><%= @message[:to_user] %></ToUserName>
<FromUserName><%= Settings["wechat_id"] %></FromUserName>
<CreateTime><%= Time.now.to_i %></CreateTime>
<MsgType>news</MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
<item>
<Title><![CDATA[北京站车场简介]]></Title> 
<Description><![CDATA[这里是【北京站】 - 北京田宫迷你四驱车俱乐部，欢迎北京的车友加入我们！]]></Description>
<PicUrl><![CDATA[https://mp.weixin.qq.com/cgi-bin/getimgdata?token=274467884&msgid=&mode=large&source=file&fileId=201022419&ow=-1]]></PicUrl>
<Url><![CDATA[url]]></Url>
</item>
</Articles>
</xml>