<xml>
<ToUserName><%= @message[:to_user] %></ToUserName>
<FromUserName><%= Settings["wechat_id"] %></FromUserName>
<CreateTime><%= Time.now.to_i %></CreateTime>
<MsgType>news</MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
<item>
<Title><![CDATA[田宫例比赛规则]]></Title> 
<Description><![CDATA[为保持田宫迷你四驱车竞赛的趣味、刺激和公平，而设立以下竞赛规则，用于确保竞赛车、竞赛项目、竞赛内容（竞赛的方法和礼仪）保持公平，在平等的条件下相互竞争。]]></Description>
<PicUrl><![CDATA[http://1.bjmini4wd.sinaapp.com/img/rule.jpg]]></PicUrl>
<Url><![CDATA[http://bjmini4wd.sinaapp.com/rule.html]]></Url>
</item>
</Articles>
</xml>